body {
	background-color: #eee;
}

.container {
	border: 1px solid #D1CEC8;
	background-color: #fff;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
}

footer {
	margin-top: 20px;
}