nav {
  padding: 0 8%;
}

.navbar-default {
  background-color: #33b5e5;
  border-color: #247fa1;
}
.navbar-default .navbar-brand {
  color: #F5F9FA;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #247fa1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #247fa1;
}
.navbar-default .navbar-toggle {
  border-color: #247fa1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #247fa1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}



@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #247fa1;
  }
}

.bg-image {
  background-image: url('img/banner01.jpg');
  background-size: cover;
}

/******************
* FOOTER
******************/


footer {
  margin: 0;
  padding: 0;
  margin: 15% 0 0 0;
  width: 100%;
  border-top: 1px solid;

}


ul.footing {
  list-style: none;
  display: block;
  float: left;
}

.heavy-bottom-border {
  border-bottom: 4px solid #D1CEC8;
}

.orders-link {
  color: white;
}

.orders-link:hover {
  color: white;
}

.dashboard-background {
background: -moz-linear-gradient(top,  rgba(196,196,196,0.47) 0%, rgba(0,0,0,0.05) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,196,196,0.47)), color-stop(90%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(196,196,196,0.47) 0%,rgba(0,0,0,0.05) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(196,196,196,0.47) 0%,rgba(0,0,0,0.05) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(196,196,196,0.47) 0%,rgba(0,0,0,0.05) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(196,196,196,0.47) 0%,rgba(0,0,0,0.05) 90%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78c4c4c4', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

@media screen and (max-width: 480px) {
  .dashboard-background {
    margin-top: -20px;
  }
}

.desktop-dashboard .btn {
  background-color: #2980b9;
  color: white;
  border-radius: 3px;
}